In [74]:
path = 'WHO-COVID-19-global-data.csv'
import pandas as pd
import numpy as np
# leyendo el archivo csv original
df = pd.read_csv ('WHO-COVID-19-global-data.csv')
# imprimiendo únicamente los encabezados
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [75]:
# Visualizando la composición del dataFrame = 165189 filas y 8 columnas
df.shape

(165189, 8)

In [76]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3 
df['Country_code'] = df['Country_code'].replace(['AD'],'AND')
df['Country_code'] = df['Country_code'].replace(['AE'],'ARE')
df['Country_code'] = df['Country_code'].replace(['AF'],'AFG')
df['Country_code'] = df['Country_code'].replace(['AG'],'ATG')
df['Country_code'] = df['Country_code'].replace(['AI'],'AIA')
df['Country_code'] = df['Country_code'].replace(['AL'],'ALB')
df['Country_code'] = df['Country_code'].replace(['AM'],'ARM')
df['Country_code'] = df['Country_code'].replace(['AN'],'ANT')
df['Country_code'] = df['Country_code'].replace(['AO'],'AGO')
df['Country_code'] = df['Country_code'].replace(['AQ'],'ATA')
df['Country_code'] = df['Country_code'].replace(['AR'],'ARG')
df['Country_code'] = df['Country_code'].replace(['AS'],'ASM')
df['Country_code'] = df['Country_code'].replace(['AT'],'AUT')
df['Country_code'] = df['Country_code'].replace(['AU'],'AUS')
df['Country_code'] = df['Country_code'].replace(['AW'],'ABW')
df['Country_code'] = df['Country_code'].replace(['AX'],'ALA')
df['Country_code'] = df['Country_code'].replace(['AZ'],'AZE')

In [77]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['BA'],'BIH')
df['Country_code'] = df['Country_code'].replace(['BB'],'BRB')
df['Country_code'] = df['Country_code'].replace(['BD'],'BGD')
df['Country_code'] = df['Country_code'].replace(['BE'],'BEL')
df['Country_code'] = df['Country_code'].replace(['BF'],'BFA')
df['Country_code'] = df['Country_code'].replace(['BG'],'BGR')
df['Country_code'] = df['Country_code'].replace(['BH'],'BHR')
df['Country_code'] = df['Country_code'].replace(['BI'],'BDI')
df['Country_code'] = df['Country_code'].replace(['BJ'],'BEN')
df['Country_code'] = df['Country_code'].replace(['BL'],'BLM')
df['Country_code'] = df['Country_code'].replace(['BM'],'BMU')
df['Country_code'] = df['Country_code'].replace(['BN'],'BRN')
df['Country_code'] = df['Country_code'].replace(['BO'],'BOL')
df['Country_code'] = df['Country_code'].replace(['BR'],'BRA')
df['Country_code'] = df['Country_code'].replace(['BS'],'BHS')
df['Country_code'] = df['Country_code'].replace(['BT'],'BTN')
df['Country_code'] = df['Country_code'].replace(['BV'],'BVT')
df['Country_code'] = df['Country_code'].replace(['BW'],'BWA')
df['Country_code'] = df['Country_code'].replace(['BY'],'BLR')
df['Country_code'] = df['Country_code'].replace(['BZ'],'BLZ')

In [78]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['CA'],'CAN')
df['Country_code'] = df['Country_code'].replace(['CC'],'CCK')
df['Country_code'] = df['Country_code'].replace(['CD'],'COD')
df['Country_code'] = df['Country_code'].replace(['CF'],'CAF')
df['Country_code'] = df['Country_code'].replace(['CG'],'COG')
df['Country_code'] = df['Country_code'].replace(['CH'],'CHE')
df['Country_code'] = df['Country_code'].replace(['CI'],'CIV')
df['Country_code'] = df['Country_code'].replace(['CK'],'COK')
df['Country_code'] = df['Country_code'].replace(['CL'],'CHL')
df['Country_code'] = df['Country_code'].replace(['CM'],'CMR')
df['Country_code'] = df['Country_code'].replace(['CN'],'CHN')
df['Country_code'] = df['Country_code'].replace(['CO'],'COL')
df['Country_code'] = df['Country_code'].replace(['CR'],'CRI')
df['Country_code'] = df['Country_code'].replace(['CU'],'CUB')
df['Country_code'] = df['Country_code'].replace(['CV'],'CPV')
df['Country_code'] = df['Country_code'].replace(['CW'],'CUW')
df['Country_code'] = df['Country_code'].replace(['CX'],'CXR')
df['Country_code'] = df['Country_code'].replace(['CY'],'CYP')
df['Country_code'] = df['Country_code'].replace(['CZ'],'CZE')

In [79]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['DE'],'DEU')
df['Country_code'] = df['Country_code'].replace(['DJ'],'DJI')
df['Country_code'] = df['Country_code'].replace(['DK'],'DNK')
df['Country_code'] = df['Country_code'].replace(['DM'],'DMA')
df['Country_code'] = df['Country_code'].replace(['DO'],'DOM')
df['Country_code'] = df['Country_code'].replace(['DZ'],'DZA')

In [80]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['EC'],'ECU')
df['Country_code'] = df['Country_code'].replace(['EE'],'EST')
df['Country_code'] = df['Country_code'].replace(['EG'],'EGY')
df['Country_code'] = df['Country_code'].replace(['EH'],'ESH')
df['Country_code'] = df['Country_code'].replace(['ER'],'ERI')
df['Country_code'] = df['Country_code'].replace(['ES'],'ESP')
df['Country_code'] = df['Country_code'].replace(['ET'],'ETH')

In [81]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['FI'],'FIN')
df['Country_code'] = df['Country_code'].replace(['FJ'],'FJI')
df['Country_code'] = df['Country_code'].replace(['FK'],'KLK')
df['Country_code'] = df['Country_code'].replace(['FM'],'FSM')
df['Country_code'] = df['Country_code'].replace(['FO'],'FRO')
df['Country_code'] = df['Country_code'].replace(['FR'],'FRA')

In [82]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['GA'],'GAB')
df['Country_code'] = df['Country_code'].replace(['GB'],'GBR')
df['Country_code'] = df['Country_code'].replace(['GD'],'GRD')
df['Country_code'] = df['Country_code'].replace(['GE'],'GEO')
df['Country_code'] = df['Country_code'].replace(['GF'],'GUF')
df['Country_code'] = df['Country_code'].replace(['GG'],'GGY')
df['Country_code'] = df['Country_code'].replace(['GH'],'GHA')
df['Country_code'] = df['Country_code'].replace(['GI'],'GIB')
df['Country_code'] = df['Country_code'].replace(['GL'],'GRL')
df['Country_code'] = df['Country_code'].replace(['GM'],'GMB')
df['Country_code'] = df['Country_code'].replace(['GN'],'GIN')
df['Country_code'] = df['Country_code'].replace(['GP'],'GLP')
df['Country_code'] = df['Country_code'].replace(['GQ'],'GNQ')
df['Country_code'] = df['Country_code'].replace(['GR'],'GRC')
df['Country_code'] = df['Country_code'].replace(['GS'],'SGS')
df['Country_code'] = df['Country_code'].replace(['GT'],'GTM')
df['Country_code'] = df['Country_code'].replace(['GU'],'GUM')
df['Country_code'] = df['Country_code'].replace(['GW'],'GNB')
df['Country_code'] = df['Country_code'].replace(['GY'],'GUY')

In [83]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['HK'],'HKG')
df['Country_code'] = df['Country_code'].replace(['HM'],'HMD')
df['Country_code'] = df['Country_code'].replace(['HN'],'HND')
df['Country_code'] = df['Country_code'].replace(['HR'],'HRV')
df['Country_code'] = df['Country_code'].replace(['HT'],'HTI')
df['Country_code'] = df['Country_code'].replace(['HU'],'HUN')

In [84]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['ID'],'IDN')
df['Country_code'] = df['Country_code'].replace(['IE'],'IRL')
df['Country_code'] = df['Country_code'].replace(['IL'],'ISR')
df['Country_code'] = df['Country_code'].replace(['IM'],'IMN')
df['Country_code'] = df['Country_code'].replace(['IN'],'IND')
df['Country_code'] = df['Country_code'].replace(['IO'],'IOT')
df['Country_code'] = df['Country_code'].replace(['IQ'],'IRQ')
df['Country_code'] = df['Country_code'].replace(['IR'],'IRN')
df['Country_code'] = df['Country_code'].replace(['IS'],'ISL')
df['Country_code'] = df['Country_code'].replace(['IT'],'ITA')

In [85]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['JE'],'JEY')
df['Country_code'] = df['Country_code'].replace(['JM'],'JAM')
df['Country_code'] = df['Country_code'].replace(['JO'],'JOR')
df['Country_code'] = df['Country_code'].replace(['JP'],'JPN')

In [86]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['KE'],'KEN')
df['Country_code'] = df['Country_code'].replace(['KG'],'KGZ')
df['Country_code'] = df['Country_code'].replace(['KH'],'KHM')
df['Country_code'] = df['Country_code'].replace(['KI'],'KIR')
df['Country_code'] = df['Country_code'].replace(['KM'],'COM')
df['Country_code'] = df['Country_code'].replace(['KN'],'KNA')
df['Country_code'] = df['Country_code'].replace(['KP'],'PRK')
df['Country_code'] = df['Country_code'].replace(['KR'],'KOR')
df['Country_code'] = df['Country_code'].replace(['KW'],'KWT')
df['Country_code'] = df['Country_code'].replace(['KY'],'CYM')
df['Country_code'] = df['Country_code'].replace(['KZ'],'KAZ')

In [87]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['LA'],'LAO')
df['Country_code'] = df['Country_code'].replace(['LB'],'LBN')
df['Country_code'] = df['Country_code'].replace(['LC'],'LCA')
df['Country_code'] = df['Country_code'].replace(['LI'],'LIE')
df['Country_code'] = df['Country_code'].replace(['LK'],'LKA')
df['Country_code'] = df['Country_code'].replace(['LR'],'LBR')
df['Country_code'] = df['Country_code'].replace(['LS'],'LSO')
df['Country_code'] = df['Country_code'].replace(['LT'],'LTU')
df['Country_code'] = df['Country_code'].replace(['LU'],'LUX')
df['Country_code'] = df['Country_code'].replace(['LV'],'LVA')
df['Country_code'] = df['Country_code'].replace(['LY'],'LBY')

In [88]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['MA'],'MAR')
df['Country_code'] = df['Country_code'].replace(['MC'],'MCO')
df['Country_code'] = df['Country_code'].replace(['MD'],'MDA')
df['Country_code'] = df['Country_code'].replace(['ME'],'MNE')
df['Country_code'] = df['Country_code'].replace(['MF'],'MAF')
df['Country_code'] = df['Country_code'].replace(['MG'],'MDG')
df['Country_code'] = df['Country_code'].replace(['MH'],'MHL')
df['Country_code'] = df['Country_code'].replace(['MK'],'MKD')
df['Country_code'] = df['Country_code'].replace(['ML'],'MLI')
df['Country_code'] = df['Country_code'].replace(['MM'],'MMR')
df['Country_code'] = df['Country_code'].replace(['MN'],'MNG')
df['Country_code'] = df['Country_code'].replace(['MO'],'MAC')
df['Country_code'] = df['Country_code'].replace(['MP'],'MNP')
df['Country_code'] = df['Country_code'].replace(['MQ'],'MTQ')
df['Country_code'] = df['Country_code'].replace(['MR'],'MRT')
df['Country_code'] = df['Country_code'].replace(['MS'],'MSR')
df['Country_code'] = df['Country_code'].replace(['MT'],'MLT')
df['Country_code'] = df['Country_code'].replace(['MU'],'MUS')
df['Country_code'] = df['Country_code'].replace(['MV'],'MDV')
df['Country_code'] = df['Country_code'].replace(['MW'],'MWI')
df['Country_code'] = df['Country_code'].replace(['MX'],'MEX')
df['Country_code'] = df['Country_code'].replace(['MY'],'MYS')
df['Country_code'] = df['Country_code'].replace(['MZ'],'MOZ')

In [89]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['NA'],'NAM')
df['Country_code'] = df['Country_code'].replace(['NC'],'NCL')
df['Country_code'] = df['Country_code'].replace(['NE'],'NER')
df['Country_code'] = df['Country_code'].replace(['NF'],'NFK')
df['Country_code'] = df['Country_code'].replace(['NG'],'NGA')
df['Country_code'] = df['Country_code'].replace(['NI'],'NIC')
df['Country_code'] = df['Country_code'].replace(['NL'],'NLD')
df['Country_code'] = df['Country_code'].replace(['NO'],'NOR')
df['Country_code'] = df['Country_code'].replace(['NP'],'NPL')
df['Country_code'] = df['Country_code'].replace(['NR'],'NRU')
df['Country_code'] = df['Country_code'].replace(['NU'],'NIU')
df['Country_code'] = df['Country_code'].replace(['NZ'],'NZL')
df['Country_code'] = df['Country_code'].replace(['OM'],'OMN')

In [90]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['PA'],'PAN')
df['Country_code'] = df['Country_code'].replace(['PE'],'PER')
df['Country_code'] = df['Country_code'].replace(['PF'],'PYF')
df['Country_code'] = df['Country_code'].replace(['PG'],'PNG')
df['Country_code'] = df['Country_code'].replace(['PH'],'PHL')
df['Country_code'] = df['Country_code'].replace(['PK'],'PAK')
df['Country_code'] = df['Country_code'].replace(['PL'],'POL')
df['Country_code'] = df['Country_code'].replace(['PM'],'SPM')
df['Country_code'] = df['Country_code'].replace(['PN'],'PCN')
df['Country_code'] = df['Country_code'].replace(['PR'],'PRI')
df['Country_code'] = df['Country_code'].replace(['PS'],'PSE')
df['Country_code'] = df['Country_code'].replace(['PT'],'PRT')
df['Country_code'] = df['Country_code'].replace(['PW'],'PLW')
df['Country_code'] = df['Country_code'].replace(['PY'],'PRY')
df['Country_code'] = df['Country_code'].replace(['QA'],'QAT')

In [91]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['RE'],'REU')
df['Country_code'] = df['Country_code'].replace(['RO'],'ROU')
df['Country_code'] = df['Country_code'].replace(['RS'],'SRB')
df['Country_code'] = df['Country_code'].replace(['RU'],'RUS')
df['Country_code'] = df['Country_code'].replace(['RW'],'RWA')

In [92]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['SA'],'SAU')
df['Country_code'] = df['Country_code'].replace(['SB'],'SLB')
df['Country_code'] = df['Country_code'].replace(['SC'],'SYC')
df['Country_code'] = df['Country_code'].replace(['SD'],'SDN')
df['Country_code'] = df['Country_code'].replace(['SE'],'SWE')
df['Country_code'] = df['Country_code'].replace(['SG'],'SGP')
df['Country_code'] = df['Country_code'].replace(['SH'],'SHN')
df['Country_code'] = df['Country_code'].replace(['SI'],'SVN')
df['Country_code'] = df['Country_code'].replace(['SJ'],'SJM')
df['Country_code'] = df['Country_code'].replace(['SK'],'SVK')
df['Country_code'] = df['Country_code'].replace(['SL'],'SLE')
df['Country_code'] = df['Country_code'].replace(['SM'],'SMR')
df['Country_code'] = df['Country_code'].replace(['SN'],'SEN')
df['Country_code'] = df['Country_code'].replace(['SO'],'SOM')
df['Country_code'] = df['Country_code'].replace(['SR'],'SUR')
df['Country_code'] = df['Country_code'].replace(['SS'],'SSD')
df['Country_code'] = df['Country_code'].replace(['ST'],'STP')
df['Country_code'] = df['Country_code'].replace(['SV'],'SLV')
df['Country_code'] = df['Country_code'].replace(['SX'],'SXM')
df['Country_code'] = df['Country_code'].replace(['SY'],'SYR')
df['Country_code'] = df['Country_code'].replace(['SZ'],'SWZ')

In [93]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['TC'],'TCA')
df['Country_code'] = df['Country_code'].replace(['TD'],'TCD')
df['Country_code'] = df['Country_code'].replace(['TF'],'ATF')
df['Country_code'] = df['Country_code'].replace(['TG'],'TGO')
df['Country_code'] = df['Country_code'].replace(['TH'],'THA')
df['Country_code'] = df['Country_code'].replace(['TZ'],'TZA')
df['Country_code'] = df['Country_code'].replace(['TJ'],'TJK')
df['Country_code'] = df['Country_code'].replace(['TK'],'TKL')
df['Country_code'] = df['Country_code'].replace(['TL'],'TLS')
df['Country_code'] = df['Country_code'].replace(['TM'],'TKM')
df['Country_code'] = df['Country_code'].replace(['TN'],'TUN')
df['Country_code'] = df['Country_code'].replace(['TO'],'TON')
df['Country_code'] = df['Country_code'].replace(['TR'],'TUR')
df['Country_code'] = df['Country_code'].replace(['TT'],'TTO')
df['Country_code'] = df['Country_code'].replace(['TV'],'TUV')
df['Country_code'] = df['Country_code'].replace(['TW'],'TWN')

In [94]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['UA'],'UKR')
df['Country_code'] = df['Country_code'].replace(['UG'],'UGA')
df['Country_code'] = df['Country_code'].replace(['US'],'USA')
df['Country_code'] = df['Country_code'].replace(['UY'],'URY')
df['Country_code'] = df['Country_code'].replace(['UZ'],'UZB')

In [95]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['VA'],'VAT')
df['Country_code'] = df['Country_code'].replace(['VC'],'VCT')
df['Country_code'] = df['Country_code'].replace(['VE'],'VEN')
df['Country_code'] = df['Country_code'].replace(['VG'],'VGB')
df['Country_code'] = df['Country_code'].replace(['VI'],'VIR')
df['Country_code'] = df['Country_code'].replace(['VN'],'VNM')
df['Country_code'] = df['Country_code'].replace(['VU'],'VUT')

In [96]:
# Sustitutendo de la columna 'Country_code' los códigos de país alpha-2 por código alpha-3
df['Country_code'] = df['Country_code'].replace(['WF'],'WLF')
df['Country_code'] = df['Country_code'].replace(['WS'],'WSM')
df['Country_code'] = df['Country_code'].replace(['YE'],'YEM')
df['Country_code'] = df['Country_code'].replace(['YT'],'MYT')
df['Country_code'] = df['Country_code'].replace(['ZA'],'ZAF')
df['Country_code'] = df['Country_code'].replace(['ZM'],'ZMB')
df['Country_code'] = df['Country_code'].replace(['ZW'],'ZWE')

In [97]:
# rectificando valores nulos
country_null = df[df.Country_code.isnull()]
country_null.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
99671,2020-01-03,NaN,Namibia,AFRO,0,0,0,0
99672,2020-01-04,NaN,Namibia,AFRO,0,0,0,0
99673,2020-01-05,NaN,Namibia,AFRO,0,0,0,0
99674,2020-01-06,NaN,Namibia,AFRO,0,0,0,0
99675,2020-01-07,NaN,Namibia,AFRO,0,0,0,0

In [98]:
df['Country_code'] = df['Country_code'].replace([np.nan],'NAM')

In [99]:
# rectificando valores nulos
country_null = df[df.Country_code.isnull()]
country_null.head()

Empty DataFrame
Columns: [Date_reported, Country_code, Country, WHO_region, New_cases, Cumulative_cases, New_deaths, Cumulative_deaths]
Index: []

In [100]:
# exportando dataFrame sin índices a un nuevo archivo csv con códigos de país alpha-3
df.to_csv("WHO-COVID-19-global-data-alpha3.csv", index = False)

In [101]:
# Agrupando países
dfSumary = df.groupby(['Country_code'])[['New_cases', 'New_deaths']].apply(sum)

In [102]:
dfSumary.head()

              New_cases  New_deaths
Country_code
                    764          13
ABW               16263         174
AFG              157218        7308
AGO               65144        1733
AIA                1334           3

In [103]:
# exportando dataFrame con índices a un nuevo archivo csv con códigos de país alpha-3
dfSumary.to_csv("WHO-COVID-19-summary.csv", index= True)